.example-spacer {
    flex: 1 1 auto;
  }
 .example-icon{
margin: 15px;
background-color: white;
border: white;
;
  }
mat-icon{
    font-size: 36px;
    margin-right: 10px;
}
  mat-toolbar{
      background-color: white;
  }

img{
height: 50px;
  }